{% extends 'layout.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/compra.css' %}">

<div class="main_products_shop">
    <h1>Comprar productos</h1>
    <div class="content_box_cards">
    {% for proveedor in proveedores %}
        <a href="{%if proveedor.page_url %} {{ proveedor.page_url }} {% else %} # {% endif %}">
            <div class="card_compra"> 
                <div class="photo_box">
                    <picture>
                        <img src="{{ proveedor.image_url }}">
                    </picture>
                </div>
                <div class="info_card">
                    <h4>
                        {{proveedor.nombre}}
                    </h4>
                    <p>
                        {{proveedor.producto}}
                    </p>
                </div>
            </div>
        </a>
    {% empty %}
        <p>no hay proveedores</p>
    {% endfor %}
    </div>
</div>


{% endblock %}