{% extends 'layout.html' %}
{% load static %}
<!--referencias -->
<link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<link href="{% static 'vendors/fontawesome/css/all.min.css' %}" rel="stylesheet">

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="{% static 'css/historial.css' %}" rel="stylesheet">

<div class="container-fluid px-4">
    <h1 class="titulo-historial mb-4">Historial de Actividades</h1>

    <!--texto superior -->
    <div class="timeline-label-top">
        <span>Más Reciente</span>
    </div>

    <div class="timeline-wrapper">
        <!--linea de tiempo-->
        <div class="timeline-static-elements">
            <div class="timeline-line"></div>
            <div class="timeline-start"></div>
            <div class="timeline-end"></div>
        </div>

        <!--contenido-->
        <div class="timeline-scroll-container" id="timeline-container">
        </div>
    </div>

    <!--texto inferior -->
    <div class="timeline-label-bottom">
        <span>Más Antiguo</span>
    </div>
</div>

<script>
    const apiActivityLogsUrl = "{% url 'api_activity_logs' %}";
    const iconImages = {
        edit: "{% static 'images/edit-ui-svgrepo-com.svg' %}",
        delete: "{% static 'images/trash-alt-svgrepo-com.svg' %}",
        add: "{% static 'images/add-ellipse-svgrepo-com.svg' %}",
        login: "{% static 'images/login-svgrepo-com.svg' %}",
        logout: "{% static 'images/logout-svgrepo-com.svg' %}"
    };
</script>
<script src="{% static 'js/historial.js' %}"></script>

{% endblock %}
