.roboto-font {
    font-family: 'Roboto', sans-serif;
}

td .btn-ver-proveedor,
td .btn-editar,
td form button {
    margin-right: 5px;
}

td img {
    height: 20px;
    width: 20px;
}

button.disabled img {
    opacity: 0.5;
    cursor: not-allowed;
}


.search-container {
    margin-bottom: 20px;
}

#myTable tbody tr td:last-child a,
#myTable tbody tr td:last-child button {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

#myTable tbody tr td:last-child {
    border-bottom: 1px solid #dee2e6 !important;
    display: flex !important;
    gap: 5px !important;
    align-items: center !important;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        gap: 10px;
    }
    .search-container input {
        width: 100% !important;
    }
}
