.tallas-cantidades-list ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: inline; 
}

.tallas-cantidades-list ul li {
    display: inline;
    padding: 0;
    border: none;
    margin-right: 8px;
    background-color: transparent;
    font-size: 1rem;
}

td > a, td > form > button {
    border: none !important;
    padding: 0 !important;
    margin: 0 4px 0 0 !important;
    background: none !important;
    box-shadow: none !important;
}

td > a img, td > form > button img {
    vertical-align: middle;
}

.tallas-cantidades-list table tr.last-size td {
    border-bottom: none !important;
}

.tallas-cantidades-list table {
    border: 1px solid #e0e0e0 !important;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
}

.tallas-cantidades-list table tr td {
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 8px 16px !important;
    margin: 0 !important;
    white-space: nowrap;
    vertical-align: middle !important;
    text-align: left;
}

.tallas-cantidades-list table tr td:nth-child(2) {
    text-align: left;
}

#verTallasCantidadesTable {
    width: auto;
    margin-top: 8px;
    margin-right: auto;
    border: 1px solid #e0e0e0;
    border-collapse: separate;
    border-spacing: 0;
}

#verTallasCantidadesTable th {
    background-color: #f8f9fa;
    padding: 12px 16px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #f0f0f0;
}

#verTallasCantidadesTable th:nth-child(2) {
    text-align: left;
}

#verTallasCantidadesTable td {
    padding: 8px 16px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

#verTallasCantidadesTable td:nth-child(2) {
    text-align: left;
}

#verTallasCantidadesTable tr:last-child td {
    border-bottom: none;
}

#verTallasCantidadesContainer {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 4px;
    margin: 15px 0;
    clear: both;
    order: 1;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body .mb-3:nth-child(1) {
    order: 0;
}

.modal-body .mb-3:nth-child(2) {
    order: 1;
}

.modal-body .mb-3:nth-child(3) {
    order: 2;
}



td:last-child {
    display: flex !important;
    gap: 5px !important; 
    align-items: center;
}

td:last-child > * {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Eliminar spin buttons defaults de los navegadores. */
#agregarValorProductoUnidad::-webkit-outer-spin-button,
#agregarValorProductoUnidad::-webkit-inner-spin-button,
#agregarPrecioVenta::-webkit-outer-spin-button,
#agregarPrecioVenta::-webkit-inner-spin-button,
#editarValorProductoUnidad::-webkit-outer-spin-button,
#editarValorProductoUnidad::-webkit-inner-spin-button,
#editarPrecioVenta::-webkit-outer-spin-button,
#editarPrecioVenta::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#agregarValorProductoUnidad,
#agregarPrecioVenta,
#editarValorProductoUnidad,
#editarPrecioVenta {
    -moz-appearance: textfield;
}

#tallasContainer input[type=number]::-webkit-outer-spin-button,
#tallasContainer input[type=number]::-webkit-inner-spin-button,
#editarTallasContainer input[type=number]::-webkit-outer-spin-button,
#editarTallasContainer input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#tallasContainer input[type=number],
#editarTallasContainer input[type=number] {
    -moz-appearance: textfield;
}
