td form {
  display: inline-block;
  margin: 0 8px 0 0;
  padding: 0;
  vertical-align: middle;
}

td form button,
td a.btn-editar,
td a.btn-ver-producto {
  vertical-align: middle;
  margin-right: 8px;
}

td form button img,
td a.btn-editar img,
td a.btn-ver-producto img {
  vertical-align: middle;
  display: inline-block;
}

td > * {
  font-size: 0;
}

td > * > img {
  font-size: initial;
}
